* {
	margin: 0;
	padding: 0;
}

body{
	width:1351px;
}

div#all{
	width:80%;
	margin: 5% 0% 1% 10%;
}

h1{
	font-family: 'EB Garamond', serif;
}
/* MENU */

#nav1{
	padding: 1% 0;
	width:80%;
	margin: auto;
}
	.nav1-1, .nav1-2{
		float:right;
		padding: 8px 16px;
		border-radius: 5px;
		text-decoration: none;
		color: rgba(140, 93, 255, 1);
	}
	.nav1-1{
		border: rgba(140, 93, 255, 1) 1px solid;
	}
		.nav1-1:hover{
			color:white;
			background-color:rgba(140, 93, 255, 1);
		}
		.nav1-2:hover{
			color: purple;
		}
#nav2{

	border-top: 1px solid rgba(0, 0, 0, 0.1);
	box-shadow: 2px 13px 24px -20px rgb(200, 200,200);
	padding: 1.5%;
}
	.nav2-1{
		display: inline-block;
		padding: 0 20px;
	}
		.nav2-1 a{	
			text-decoration: none;
			color: grey;
			font-family: Ubuntu, sans-serif;
		}
			.nav2-1 a:hover{
				color:black;
			}

/* SECTION 1 */

div#section1{
	width: 60%;
	margin: auto;
}

	#follow1{
		margin-top: 2%;
	}

		#follow1 img{
			width: 48px;
			height: 48px;
			border-radius: 50%;
			float:left;
		}
		#follow1-1{
			float:left;
			padding: 0 15px;
		}
/* SECTION 2 */

div#section2 img{
	width: 100%;
	margin-top: 2%;
}
/* SECTION 3 */
div#section3{
	width: 15%;
	float: left;
	margin-top: 5%;
}
	div#section3-1{
		border-bottom: 2px solid grey;
	}

	div#section3-2 img{
		width: 25px;
		height: 25px;
	}
/* SECTION 4 */
div#section4{
	width: 60%;
	margin: auto;
	margin-top: 5%;
	border-bottom: 2px solid grey;

}

#mot_cle{
	padding: 10% 0%;
}
	.mot_cle{
		display:inline-block;
		padding: 3px 10px;
		background-color: #D5D5D5;
		border-radius: 4px;
		}
		.mot_cle:hover{
			background-color: grey;
			cursor: pointer;
		}
/* SECTION 5 */
div#section5{
	margin: 2% auto;
	width: 60%;
}
#follow2{
	width: 50%;
	float:left;
}
	#follow2 img{
		width: 48px;
		height: 48px;
		float:left;
	}
	#follow2-1{
		float:left;
		width: 58%;
		border-radius: 4px;
		padding: 0 2%;
	}
/* SECTION 6 */

figcaption{
	padding: 0 20px;
}

footer{
	background:rgb(250, 250, 250); margin-top: 10%;
}

div#section6{
	padding: 2% 0;
	display:flex;
	width: 80%;
	margin: auto;
}		
		.foot1, .foot2, .foot3{
			border-radius: 4px;
			overflow:hidden;
			background-color: white;
			width: 33%;
			padding-bottom: 3%;
			box-shadow: 2px 4px 5px 1px rgba(199,185,199,1);

		}
		.foot2{
			margin: 0 0.5%;
		}
		.foot1 img, .foot2 img, .foot3 img{
		width: 100%;

	}





button{
  	color: rgba(140, 93, 255, 1);
  	background-color: white;

  	padding: 5px 9px;
  	border: rgba(140, 93, 255, 1) 1px solid;
 	border-radius: 4px;
  	cursor: pointer;
}
	button:hover{
		background-color: rgba(140, 93, 255, 1);
		color: white;
	}
	#button{
		padding: 8px 15px;
	}