
* {
	margin: 0;
	padding: 0;
	/*text-align: center;*/
}

/*///////////MENU//////////*/

#nav1{
	border-bottom: 1px solid grey;
	padding: 10px;
}
	#nav1 li{
		display: inline-flex;
	}
	#nav1 a{
		text-decoration: none;
		color: #6A5ACD;
	}
	#nav1 img{
		margin-left: 10vw;
	}
	.nav1{
		float: right;
	}
	.nav1-1{
		float:right;
		border:1px solid #6A5ACD;
		margin-right: 10vw;
	}

#nav2{
	box-shadow: 0px 2px 4px grey;
	padding-left: 5vw;
}

	#nav2 li{
		display: inline-flex;
	}
	#nav2 a{
		text-decoration: none;
		color: grey;
	}
	#nav2 img{
		margin-left: 10vw;
	}
/* SECTION1 */
div#section1{
	margin-top: 10vh;
	width: 50vw;
	margin-left: 25vw;
}

/* SECTION2 */

div#section2{
	margin-top: 10vh;
	width: 80vw;
	margin-left: 10vw;
}
div#section2 img{
	width: 80vw;
	border: red 2px solid;
}

/* SECTION3 */

div#section3{
	margin-top: 10vh;
	width: 20vw;
	margin-left: 10vw;
	float: left;
}

div#section4{
	margin-top: 10vh;
	width: 40vw;
	margin-left: 30vw;

	border-bottom: 1px solid grey;
}
/*
div#section5 img{
	width: 80vw;
	margin-left: 30vw;
	border: red 2px solid;
}
*/
div#section6{
	background-color: grey;
	padding-bottom: 10%;

}


.bloclink{
	width: 80vw;
	margin-left: 10vw;
}
.link1 img{
	width: 33%;
	float:left;
	border-top-right-radius: 5px;
	border-top-left-radius:  5px;
}

.link2 img{
	width: 33%;
	float: left;
	margin-right: 0.5%;
	margin-left: 0.5%;
	border-top-right-radius: 5px;
	border-top-left-radius:  5px;
}

.link3 img{
	width:33%;
	border-top-right-radius: 5px;
	border-top-left-radius:  5px;
}

div#section6 img{
	margin-top: 2%;
}
/*///////////MENU//////////*/
/*
#nav1{
	width:80vw;
}
#nav2{
	width:80vw;
}


#nav2 a{
	text-decoration: none;
}
.nav2{float:right;}


/*///////////////////*/


.img img{
	width: 100%;
}


/*////////////////////////*/




/*/////////TEXTE///////////*/


div#section1{
	width:80vw;
	width: 50%;
	margin-top: 40px;
	padding : 0px 100px 0px 10px;
	margin-left: 20%;
}
div#section3{
	width: 20%;
	margin-top: 40px;
	float: left;
	display:inline-block;

}

div#section4{
	width: 50%;
	margin-top: 40px;
	padding : 0px 100px 0px 10px;
	margin-left: 20%;

}  */